@model IEnumerable<MvcMadMenu.Models.MadMenu>

@{
    ViewData["Title"] = "Bestilling";
}


<div class="text-center">
    <hr class="new1">
    <h1 class="display-4">Menu og bestillinger</h1>
    <hr class="new2">
    <br>
</div>

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4">


                <div class="card bg-light mb-3" style="max-width: 20rem; height: 15rem;">
                    <div class="card-header"><font color="black"><b>@Html.DisplayFor(modelItem => item.UgeNavn) @Html.DisplayFor(modelItem => item.Dato)</b></font></div>
                    <div class="card-body">
                        <h6 class="card-title"><font color="black">@Html.DisplayFor(modelItem => item.Menu)</font></h6>
                        <font color="black">Antal:</font>
                        <input type="number" value="0" min="0" max="15">
                        <button class="button2">BEKRÆFT ANTAL</button>
                        <p><font color="black">15 Menuer tilbage</font></p>
                    </div>
                </div>

            </div>


        }
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
