@model IEnumerable<MvcMadMenu.Models.MadMenu>


@{
    ViewData["Title"] = "HovedMenu";
}



<div class="text-center">
    <hr class="new1">
    <h1 class="display-4">Madbestilling</h1>
    <hr class="new2">

    @foreach (var item in Model.Where(i => i.Dato.ToString("dd/MM/yyyy") == DateTime.Today.ToString("dd/MM/yyyy")))
    {
        <p><font size="4">@Html.DisplayFor(modelItem => item.Menu)</font></p>
    }
    <br>
    <br>
    <br>
    <div class="form-group">
        <a asp-area="" asp-controller="Madmenu" asp-action="bestilling"><button class="button button1">MENU OG BESTILLING</button></a>
    </div>
    <div class="form-group">
        <a asp-area="" asp-controller="Madmenu" asp-action="MineBestillinger"><button class="button button1" onclick="location.href='http://www.example.com'">MINE BESTILLINGER</button></a>
    </div>
    <div class="form-group">
        <a asp-area="" asp-controller="Madmenu" asp-action="Info"><button class="button button1" onclick="location.href='http://www.example.com'">INFO</button></a>
    </div>
</div>
