


@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <hr class="new1">
    <h1 class="display-4">Info</h1>
    <hr class="new2">
    <br>
    <br>
    <br>


    <p>Senest fredag kl. 11.30 kan du bestille aftensmad til den efterfølgende uge.</p>
    <p>Herefter er det muligt at bestille aftensmad igennem dagsbestilling indtil kl. 08.00 på dagen. Der er 15 menuer tilgængelige til dagsbestilling.</p>
    <p>Bistroen pakker aftensmaden til dig, og den kan hentes i kølesakbet i kælderen i Bredgade 30 efter kl. 15.30.</p>
    <p>Aftensmaden koster DKK 35 pr. menu, og pengene trækkes via din løn.</p>
</div>

